.Faq{
    background: var(--color-light);
    padding-top: 50px;
    padding-bottom: 50px;
}
.faq-card{
    border-bottom: 1px solid  #3A3A3A;
    padding: 20px 0;
}
.faq-upper{
    font-weight: 600;

}
.plus{
    cursor: pointer;

}



.faq-lower{
    display: none;
    padding-top: 20px;
    color: #939497; 
}


.faq-lower p{
    width: 500px;
   
}

.faqopen{
    display: block;
}



@media screen and (max-width: 570px) {
    .faq-lower p{
        width: 300px;
    }
    
        }

        @media screen and (max-width: 400px) {
            .faq-lower p{
                width: 250px;
            }
            
                }