.dashboard-nav{
    background: white;
    box-shadow: 1px 1px 1px #abafaf;
    position: sticky;
    top:0 ;
    height: 100vh;
    overflow-y: scroll;
    z-index: 3;
}

.dashnavcancel{
    display: none;
}

.dash-hidden-navvv{
opacity: 0;
height: 0;
}

.dashboard-home-second-section{
    box-shadow: 1px 1px 1px #abafaf;
}

.dash-home-inner{
    padding: 40px 24px
}

.dashboard-home-third-section{
    background: white;
    position: sticky;
    top:0 ;
    height: 100vh;
    overflow-y: scroll;
    z-index: 3;
}
.dashboard-nav-inner{
    padding: 50px;
    gap: 20px
}

.dashboard-nav-item {
    border-radius: 8px;
    cursor: pointer;
    transition: var(--transition);
}
.dashboard-nav a{
    color: black;
}
.dashboard-nav-item:hover, .dashboard-nav .dashboardactive {
    background: linear-gradient(213.53deg, #F2D741 6.44%, #118924 98.29%);
    color: white;
    border-radius: 8px;
}




.gap-20{
    gap: 20px;
}

.dashboard-home-second-section{
    background-color: var( --color-light);
    flex-basis: 50%;
    /* width: 100%; */
}

.dash-secret-header{
display: none;
}

.dashboardnav-search{
    margin-left:  -380px;
    cursor: pointer;
    }
.dashboard-reviews{
    flex-wrap: wrap;
}
.dash-reviews{
    border-radius: 8px;
    background-color: var(--color-light);
}

.dashboard-home-third-section{
    padding: 32px
}

.account-main{
    background: var(--color-light);
    width: 100%;
    padding: 50px 30px 30px 30px
}

.account-left{
    background: white; 
    padding: 30px 10px; 
    height: 210px;
    border-radius: 8px
}

.customer-main{
    padding: 30px;
}

.table-search{
    width: 270px
}

.customer-table{
    width: 100%;
    overflow-x: scroll;
}



.cust-hidden {
    display: none;
}


.dash-review-card p{
    padding-right: 30px;
}

.dash-review-card button{
    margin-left: 30px
}

.collection-nav{
    display: none;
}



@media (min-width: 1020px) and (max-width: 1300px) {
    .dashboard-nav-inner{
        padding: 30px;
    }
    .dash-home-user-img{
        width: 37px;
        height: 37px
    }

    .dash-11 h5{
        font-size: 16px;
    }

    .dash-11 input{
        width: 220px;
    }
    .dashboardnav-search{
        margin-left:  -200px;
    }

    .dashboard-home-third-section{
        padding: 20px
    }
    .dashboard-reviews{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .account-main{
        background: var(--color-light);
        width: 100%;
        padding: 50px 20px 20px 20px
    }


    .account-left, .accountnav-search{
display: none;
    }

.account-search{
    width: 350px;
}




}

@media (min-width: 1020px) and (max-width: 1100px) {
    .table-filter{
        display: none;
    }
    }


@media screen and (max-width: 1019px) {


    .dashboard-home-first-section,.dash-home-inner-header,.dashboard-home-third-section, .account-left, .table-nav{
display: none;
    }

    .collection-nav{
        display: flex;
    }

    .dashnavcancel{
        display: flex;
    }

    .dash-hidden-navvv{
        opacity: 1;
        height: 100%;
        background: white;
        box-shadow: 1px 1px 1px #abafaf;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
    }
    .dashboard-nav{
        height: 100%;
    }

    .dashboard-home-second-section{
        flex-basis: 100%;
    }
    
    

    .dash-secret-header{
        width: 100%;
        display: flex;
    }

    .dash_searchbar{
        width: 300px;
        margin: auto;
    }

    .dashboard-reviews{
        display: flex;
        align-items: center;
        justify-content: center;
    }
.account-side{
    justify-content: center;
    align-items: center;
}





}

@media screen and (max-width: 500px) {
    .dash-review-card{
        flex-direction: column;
        gap: 20px;
    }
    .dash-review-card p{
        padding-right: 0px;
    }
    
    .dash-review-card button{
        margin-left: 0px
    }
    
    }

@media screen and (max-width: 400px) {
    .customer-main{
        padding: 15px;
    }
    .dash_searchbar{
        width: 250px;
        margin: auto;
    }

    .accountnav-search{
        display: none;
    }

    .cust-box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .cust-hidden {
        display: flex;
        width: 100%;
    }

    .customer-account-main{
        padding: 50px 20px 20px 20px
    }

    .dash-home-inner{
        padding: 40px 8px;
    }
}