.testimononial-header{
    font-size: 18px;
    font-weight: 400;
}

.testimonials{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.gap-20px{
    gap: 20px;
}

.gap-10px{
    gap: 10px;
}

.testimonial-card{
    padding: 20px 0 20px 20px;
    background: var(--color-light);
    border-radius: 20px;
    font-size: 14px;
}

.test-card-header{
    font-size: 20px;
    color: var(--color-green);
}

.testimonial-info{
    width: 330px;
    margin-top: 30px;
}

.test-lower div, .test-lower span {
width: 30px;
height: 30px;
border-radius: 50%;
}

.test-lower div, .test-lower span{
    background: #e4e1e1;
    color: #A09E9E;
    ;
}

.test-lower div+div, .test-lower span+span{
    background: var(--color-green);
    color: #fff;
    ;
}

@media screen and (max-width: 425px) {
    .testimonial-card{
        padding: 15px;
    }
    .testimonial-info{
        width: 300px;
    
    }
        }
        @media screen and (max-width: 350px) {
            .testimonial-info{
                width: 250px;
            
            }
                }